# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db